<li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
        <a href="{% url 'auction:auction' user.slug auction.slug %}">{{ auction }}</a>
        {% if auction.auction_period %}
            <br><small class="text-muted">{{ auction.auction_period }}</small>
        {% endif %}
    </span>

    {% if user.id == request.user.id %}
        <div class="btn-group" role="group" aria-label="Administration">
            <a class="btn btn-info" href="{% url 'auction:update' user.slug auction.slug %}" title="Settings"><i class="fa fa-fw fa-cog"></i> <span class="sr-only">Settings</span></a>
            {% if auction.count_offers %}
                <a class="btn btn-primary" href="{% url 'offer:list_administration' user.slug auction.slug %}" title="Offers"><i class="fa fa-fw fa-gift"></i> <span class="sr-only">Offers</span></a>
            {% endif %}
            {% if auction.complete %}
                <a class="btn btn-success" href="{% url 'auction:results' user.slug auction.slug %}" title="Winning bids"><i class="fa fa-fw fa-trophy"></i> <span class="sr-only">Winning bids</span></a>
            {% endif %}
            </div>
    {% endif %}
</li>