{% load bootstrap4 %}

{% if label %}
    <div class="form-group">
        <div class="date row" id="datetimepicker_{{ field_name }}" data-target-input="#id_{{ field_name }}">
            <label class="col-md-3" for="id_{{ field_name }}">{{ label }}</label>
            <div class="col-md-9 input-group">
                <input id="id_{{ field_name }}" type="text" name="{{ field_name }}" class="form-control datetimepicker-input" value="{{ value|default_if_none:"" }}" data-target="#datetimepicker_{{ field_name }}">
                <div class="input-group-append" data-target="#datetimepicker_{{ field_name }}" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="date" id="datetimepicker_{{ field_name }}" data-target-input="#id_{{ field_name }}">
        <div class="input-group">
            <input id="id_{{ field_name }}" placeholder="{{ placeholder|default_if_none:"" }}" type="text" name="{{ field_name }}" class="form-control datetimepicker-input" value="{{ value|default_if_none:"" }}" data-target="#datetimepicker_{{ field_name }}">
            <div class="input-group-append" data-target="#datetimepicker_{{ field_name }}" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
{% endif %}

<script>
    $(function () {
        {% if mode == "datetime" %}
            $('#datetimepicker_{{ field_name }}').datetimepicker();
        {% elif mode == "date" %}
            $('#datetimepicker_{{ field_name }}').datetimepicker({format: 'L'});
        {% else %}
            $('#datetimepicker_{{ field_name }}').datetimepicker({format: 'LT'});
        {% endif %}
    });
</script>