<div class="input-group show-hide-password">
    {{ element }}
    <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
    </div>
</div>