{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block content %}

    <h1>{{ user }}'s offers</h1>

    {% if offer_list %}
        <div class="row">
            {% for offer in offer_list %}
                {% include "offer/_offer_card.html" %}
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-info">{{ user }} has no offers in this auction</p>
    {% endif %}

{% endblock %}