{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}

{% block content %}
    <h1>Add offer to {{ auction }}</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'offer:create' auction.user.slug auction.slug %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>Offer</legend>
            {% bootstrap_field form.category layout="horizontal" %}
            {% bootstrap_field form.minimum_bid layout="horizontal" %}
            {% bootstrap_field form.quantity layout="horizontal" %}
            {% if auction.allow_custom_offer_deadline %}
            {% datetimepicker 'deadline' label='Deadline' mode="date" %}
            <div class="row pb-3">
                <label class="col-md-3"></label>
                <div class="col-md-9">
                    <small class="form-text text-muted">The date by which you will have delivered the offer to the winning bidder(s).
                        Leave blank to use the auction default ({{ auction.offer_deadline|date:"F jS Y"|default_if_none:"no deadline" }}).
                    </small>
                </div>
            </div>
            {% endif %}
        </fieldset>

        <fieldset>
            <legend>About</legend>
            {% bootstrap_field form.notes layout="inline" %}
            {% bootstrap_field form.information_website layout="horizontal" %}
            {% bootstrap_field form.image layout="horizontal" %}
        </fieldset>

        <fieldset>
            <legend>Tags</legend>
            {% bootstrap_field form.tags layout="inline" %}
        </fieldset>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}