{% extends 'auction/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete your offer for <strong>{{ offer.category|lower }}</strong>? Once you hit the button below, it's gone-gone. Like, gone like it never was, <strong>gone</strong>.</p>
    <button type="submit" class="btn btn-danger">Super sure! Delete it!</button>
    <a class="btn btn-primary float-right" href="{% url 'offer:list' auction.user.slug auction.slug request.user.slug %}">Augh, stop, reverse! Reverse!</a>
</form>
{% endblock %}