{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}

{% block content %}
<h1>Edit {{ offer.category|lower }} offer</h1>

<form method="post" enctype="multipart/form-data" action="{% url 'offer:update' auction.user.slug auction.slug request.user.slug offer.pk %}">
    {% include "offer/_update_form.html" %}
</form>
{% endblock %}