{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
<script>
    var offerSocket = new WebSocket('ws://' + window.location.host + '/offer/{{ offer.pk }}/');
    var bidForm = $('#Bid');
    var bidConfirm = $('#BidConfirm');
        bidConfirm.hide();
    var user_id = {{ request.user.id|default_if_none:0 }};

    bidForm.submit(function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: bidForm.attr('action'),
            data: bidForm.serialize(),
            success: function(res) {
                if (res.success) {
                    offerSocket.send(JSON.stringify({'status': 1}));
                }
            }
        });
    });

    offerSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        $('#id_amount').val(data['must_bid']);
        $('#topBids').empty();
        bidConfirm.show().delay(5000).fadeOut();

        jQuery.each(data['top_bids'], function(index, value){
            var name = value['display_name'];

            if (value['anonymous'] && value['user_id'] !== user_id) {
                name = "Anonymous";
            }

            $('#topBids').append("<li class='list-group-item d-flex justify-content-between align-items-center'>" + name + "<strong>" + value['amount'] + "</strong></li>");
        });
    };

    offerSocket.onclose = function(e) {
        window.setTimeout(function(){
            window.location.href = "{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}";
        }, 10000);
    };

</script>
{% endblock %}

{% block content %}

    <div class="row mb-3">
        <div class="col-md-9">
            <h1 class="mb-0">{{ offer.user }} {{ offer.category|lower }}</h1>
            {% if offer.tags.exists %}
                <h6 class="my-0">
                    {% for tag in offer.tags.all %}
                        <span><a href="{% url 'offer:search_tag' auction.user.slug auction.slug tag.slug %}">#{{ tag }}</a></span>
                    {% endfor %}
                </h6>
            {% endif %}
        </div>
        <div class="col-md-3 text-right">
        {% if auction.signups_open and request.user.id == offer.user.id %}
            <div class="btn-group">
                <a href="{% url 'offer:update' auction.user.slug auction.slug offer.user.slug offer.pk %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                <a href="{% url 'offer:delete' auction.user.slug auction.slug offer.user.slug offer.pk %}" class="btn btn-warning"><i class="fa fa-trash"></i> Delete</a>
            </div>
        {% elif auction.user.id == request.user.id %}
            <div class="btn-group">
                <a href="{% url 'offer:update_administration' auction.user.slug auction.slug offer.pk %}" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                <a href="{% url 'offer:delete_administration' auction.user.slug auction.slug offer.pk %}" class="btn btn-warning"><i class="fa fa-trash"></i> Delete</a>
            </div>
        {% endif %}
        </div>
    </div>

    {% if offer.image %}
        <div class="row">
            <div class="col-md-6">
                {% include "offer/_view_about.html" %}
            </div>
            <div class="col-md-6"><img src="/media/{{ offer.image }}" class="img-fluid"></div>
        </div>
    {% else %}
        {% include "offer/_view_about.html" %}
    {% endif %}

    <hr>

    <div class="row">
        <div class="col-md-6">
            {% if auction.bidding_open %}
                <h3>Bid</h3>

                {% if request.user.is_authenticated %}
                    <form method="post" id="Bid" action="{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}">
                        {% csrf_token %}
                        <p class="alert alert-warning">
                            <small><i class="fa fa-exclamation-triangle"></i> Bids cannot be deleted and there is no confirmation stage.
                            {% if offer.quantity > 1 %} <strong>If you have a top bid and bid again, it will be considered a bid for an additional item!</strong>{% endif %}</small>
                        </p>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ auction.currency }}</span>
                            </div>
                            <input type="text" name="amount" value="{{ offer.must_bid }}" step="0.01" class="form-control" placeholder="Amount" title="" id="id_amount">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Bid!</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" name="anonymous" class="form-check-input" title="" id="id_anonymous">
                                <label class="form-check-label" for="id_anonymous">Anonymous</label>
                            </div>
                        </div>

                    </form>

                    <p class="alert alert-success" id="BidConfirm">Thank you for bidding!</p>

                {% else %}

                    <p class="alert alert-warning">You must be <a class="alert-link" href="{% url 'account:login' %}?next={% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}">logged in</a> to bid!</p>

                {% endif %}

            {% elif auction.bidding_period %}
                <h3>Bid</h3>
                <p>Bidding is open <strong>{{ auction.bidding_period }}</strong></p>

            {% endif %}
        </div>
        <div class="col-md-6">
            {% if offer.count_bids %}
                <h3>Top bids</h3>
                <ul id="topBids" class="list-group">
                    {% for bid in offer.top_bids %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {% if offer.quantity > 1 %}
                            {{ offer.category }} {{ forloop.counter }}:
                            {% endif %}
                            {% if not bid.anonymous or user.id == bid.user_id %}{{ bid.user }}{% else %}Anonymous{% endif %}
                            <strong>{% currency bid.amount auction.currency %}</strong>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}