{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block content %}

    <h1>Receipt for {{ bid.offer.user }}'s {{ bid.offer.category|lower }}</h1>

    <form method="post" action="{% url 'bid:donate' auction.user.slug auction.slug bid.user.slug bid.hash %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}

        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>Donation instructions</legend>
                    {% if auction.beneficiary_donation_information %}
                        <p>{{ auction.beneficiary_donation_information|linebreaksbr }}</p>
                    {% endif %}
                    {% if auction.beneficiary_donation_website %}
                        <p><i class="fa fa-external-link-square"></i> <a href="{{ auction.beneficiary_donation_website }}" target="_blank">Click here to donate</a></p>
                    {% endif %}
                </fieldset>
            </div>
            <div class="col-md-6">
                 <fieldset>
                    <legend>Receipt for {% currency bid.amount auction.currency %}</legend>
                     {% if not bid.receipt %}
                        {% bootstrap_form form layout="inline" %}
                        <p class="alert alert-warning" role="alert">The receipt can't be edited here after being sent!</p>
                        <button type="submit" class="btn btn-primary">Send</button>
                    {% else %}
                         <div class="card">
                            <div class="card-body">
                                <p class="m-0">{{ bid.receipt|linebreaksbr }}</p>
                            </div>
                            <div class="card-footer">
                                <p class="text-muted m-0 text-right"><small>Sent {{ bid.donated }}</small></p>
                            </div>
                         </div>


                    {% endif %}

                </fieldset>

            </div>
        </div>
    </form>

{% endblock %}