{% extends 'auction/administration/base.html' %}
{% load bootstrap4 core_tags %}

{% block main %}
    <h1><a href="{% url 'bid:update' auction.user.slug auction.slug bid.pk %}">{{ bid.user }} bidding {% currency bid.amount auction.currency %} for {{ bid.offer.user }}'s {{ bid.offer.category|lower }}</a> : e-mails</h1>
    <p class="alert alert-info" role="alert">These are the last e-mails that have been sent or previews of e-mails that will be sent.</p>

    <div class="card">
        <div class="card-header">
            <h3 class="m-0">{{ auction.winner_alert_email_subject }}</h3>
        </div>
        <div class="card-body">
            {{ winner_donation_alert|safe }}
        </div>
        <div class="card-footer">
            <p class="text-muted text-right m-0"><small>{% if bid.winner_alert_email_date %}{{ bid.winner_alert_email_date|date:"jS M Y @ g:iA" }}{% else %}Has not been sent via e-mail tools{% endif %}</small></p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h3 class="m-0">{{ auction.auctionee_details_to_winner_email_subject }}</h3>
        </div>
        <div class="card-body">
            {{ email_auctionee_details_to_winner|safe }}
        </div>
        <div class="card-footer">
            <p class="text-muted text-right m-0"><small>{% if bid.winner_sent_auctionee_details_email_date %}{{ bid.winner_sent_auctionee_details_email_date|date:"jS M Y @ g:iA" }}{% else %}Has not been sent via e-mail tools{% endif %}</small></p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h3 class="m-0">{{ auction.winner_details_to_auctionee_email_subject }}</h3>
        </div>
        <div class="card-body">
            {{ email_winner_details_to_auctionee|safe }}
        </div>
        <div class="card-footer">
            <p class="text-muted text-right m-0"><small>{% if bid.auctionee_sent_winner_details_email_date %}{{ bid.auctionee_sent_winner_details_email_date|date:"jS M Y @ g:iA" }}{% else %}Has not been sent via e-mail tools{% endif %}</small></p>
        </div>
    </div>

    {% if bid.pinch_hitter %}
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="m-0">{{ auction.pinch_hitter_details_to_winner_email_subject }}</h3>
            </div>
            <div class="card-body">
                {{ email_pinch_hitter_details_to_winner|safe }}
            </div>
            <div class="card-footer">
                <p class="text-muted text-right m-0"><small>{% if bid.winner_details_email_sent %}{{ bid.winner_details_email_sent|date:"jS M Y @ g:iA" }}{% else %}Has not been sent via e-mail tools{% endif %}</small></p>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <h3 class="m-0">{{ auction.winner_details_to_pinch_hitter_email_subject }}</h3>
            </div>
            <div class="card-body">
                {{ email_winner_details_to_pinch_hitter|safe }}
            </div>
            <div class="card-footer">
                <p class="text-muted text-right m-0"><small>{% if bid.auctionee_details_email_sent %}{{ bid.auctionee_details_email_sent|date:"jS M Y @ g:iA" }}{% else %}Has not been sent via e-mail tools{% endif %}</small></p>
            </div>
        </div>
    {% endif %}

{% endblock %}