{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block content %}

    <h1>Your bids</h1>

    {% if offer_list %}
        <p class="alert alert-info">If the offer has a <span class="text-success">green</span> background, you're the (or a) top bidder.</p>

        <table class="table">
            <thead>
                <tr>
                    <th>Offer</th>
                    <th>Auctionee</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offer_list %}
                    <tr class="{% if offer.is_top_bidder %}table-success{% endif %}">
                        <td>{{ offer.category.name }}</td>
                        <td>{{ offer.user }}</td>
                        <td class="text-right">
                            {% if offer.is_top_bidder %}
                                <span class="sr-only">You're {% if offer.quantity > 1 %} a {% endif %} top bidder!</span>
                            {% elif auction.bidding_open %}
                                <a href="{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}" class="btn btn-warning"><strong>Bid now!</strong></a>
                            {% endif %}
                            <button class="btn btn-light" type="button" aria-expanded="false" data-toggle="collapse" data-target=".bids-{{ offer.id }}">Show bids</button>
                        </td>
                    </tr>
                    {% for bid in offer.bids.all %}
                    <tr class="collapse bids-{{ offer.id }} {% if bid not in offer.top_bids %}text-muted{% else %}text-success{% endif %}">
                        <td></td>
                        <td>{{ bid.created }}</td>
                        <td>{% currency bid.amount auction.currency %}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-info">You haven't bid in this auction</p>
    {% endif %}

{% endblock %}