{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block main %}
    <h1>Your wins</h1>
    {% if wins %}
    <table class="table">
        <tbody>
            {% for bid in wins %}
            <tr class="table-{% if bid.donation_complete %}success{% elif bid.donation_unverified %}info{% elif bid.pending_alert %}light{% elif bid.pending_donation %}warning{% elif bid.donation_late %}danger{% endif %}">
                <td>{{ bid.offer.category }}</td>
                <td><a href="{% url 'account:profile' bid.offer.user.slug %}">{{ bid.offer.user }}</a></td>
                <td>{% currency bid.amount auction.currency %}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="{% url 'offer:view' auction.user.slug auction.slug bid.offer.user.slug bid.offer.pk %}" class="btn btn-info btn-sm d-flex align-items-center" title="View"><i class="fa fa-eye"></i> <span class="sr-only">View</span></a>
                        {% if not bid.pending_alert and not bid.donation_late %}
                            <a href="{% url 'bid:donate' auction.user.slug auction.slug bid.user.slug bid.hash %}" class="btn btn-warning btn-sm d-flex align-items-center" title="Donate"><i class="fa fa-star"></i> <span class="sr-only">Donate</span></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% elif filters.all %}
        <p>There aren't any bids to view under this filter.</p>
    {% else %}
        <p>Sorry, you don't have any winning bids</p>
    {% endif %}
{% endblock %}

{% block side %}
    <h1>&nbsp;</h1>
    <div class="list-group">
        <a href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}" class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center list-group-item-dark">All <span class="badge badge-dark badge-pill">{{ filters.all }}</span></a>
        <a href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}?filter=pending_alert" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light">Pending administration <span class="badge badge-secondary badge-pill">{{ filters.pending_alert }}</span></a>
        <a href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}?filter=pending_donation" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-warning">Pending donation <span class="badge badge-warning badge-pill">{{ filters.pending_donation }}</span></a>
        <a href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}?filter=donation_unverified" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-info">Donation unverified <span class="badge badge-info badge-pill">{{ filters.donation_unverified }}</span></a>
        <a href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}?filter=donation_complete" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-success">Donation complete <span class="badge badge-success badge-pill">{{ filters.donation_complete }}</span></a>
        <a href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}?filter=donation_late" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-danger">Donation late <span class="badge badge-danger badge-pill">{{ filters.donation_late }}</span></a>
    </div>
{% endblock %}