{% extends 'main/base.html' %}
{% block content %}
    {% if not request.user.is_authenticated %}
    <p class="alert alert-info">
        If you want to do anything here, you're going to need to <a href="{% url 'account:register' %}" class="alert-link">create a user account</a>, and then you're on your way.
    </p>
    {% endif %}

    <h1>Welcome to Fantics!</h1>
    <p>The following charity auctions are currently running or coming soon.</p>

    <div class="row">
    {% for auction in auction_list %}
        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-header">
                    For <a href="{% url 'auction:about' auction.user.slug auction.slug %}">{{ auction.beneficiary_name }}</a>
                    <span class="float-right"><span class="text-muted"></span></span>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'auction:auction' auction.user.slug auction.slug %}">{{ auction }}</a></h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">{{ auction.auction_period }}</div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}