{% extends 'main/base.html' %}

{% block content %}
    <h1>Privacy policy</h1>

    <h3>Personal information</h3>
    <p>I cannot stress enough how much I do not want your personal details, the most I want off you is your e-mail so you
    can reset your password if you forget it, and so auction owners/winners can get a hold of you. Groovy? If you're offering something
        in an auction that requires posting, please e-mail the winner directly for their address - the site is <em>not</em> responsible for any information you voluntarily share here.</p>

    <h3>Account deletion</h3>
    <p>You can remove all information associated with your account except the display name, the system will consider it
        an orphan account and any auctions, offers, bids, etc associated with it will no longer be accessible by you.</p>

    <h3>Cookies</h3>
    <p>You can choose which cookies the site sets in the <a href="{% url 'account:cookies' %}">cookie management area</a>.</p>
{% endblock %}