{% extends 'main/base.html' %}

{% block content %}
    <h1>Terms of use</h1>
    <p>Don't do illegal shit, don't try and kill the site, don't troll: don't be a dick.</p>
    <p>And really, definitely, <em>do not auction for profit</em>. Non-profit, charitable causes only!
        This isn't any part of the "should fandom be able to charge" debate, just to stop us all being sued into oblivion.</p>
{% endblock %}