{% load bootstrap4 %}

{% if show_search %}
    <div class="row">
        <div class="col-md-5">{% bootstrap_pagination page_obj pages_to_show=5 %}</div>
        <div class="col-md-4">
            <form method="get" action="{{ request.get_full_path }}">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" value="{{ request.GET.search }}" type="search" name="search">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <hr>
    <div class="col-md-12 pagination_wrap">{% bootstrap_pagination page_obj pages_to_show=4 %}</div>
{% endif %}