{% extends 'auction/administration/base.html' %}
{% load bootstrap4 core_tags %}

{% block main %}
    <h1>Offers</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Offer</th>
                <th>User</th>
                <th>Minimum bid</th>
                <th>Deadline</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offer_list %}
                <tr>
                    <td>{{ offer.category.name }}</td>
                    <td>{{ offer.user.display_name }}</td>
                    <td>{% currency offer.minimum_bid auction.currency %}</td>
                    <td>{{ offer.deadline|default_if_none:auction.offer_deadline }}</td>
                    <td class="text-right">
                        <div class="btn-group" role="group" aria-label="Administration">
                            <a class="btn btn-success" href="{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}" title="View">
                                <i class="fa fa-eye"></i> <span class="sr-only">View</span>
                            </a>
                            <a class="btn btn-info" href="{% url 'offer:update_administration' auction.user.slug auction.slug offer.pk %}" title="Edit">
                                <i class="fa fa-pencil"></i> <span class="sr-only">Edit</span>
                            </a>
                            <a class="btn btn-warning" href="{% url 'offer:delete_administration' auction.user.slug auction.slug offer.pk %}" title="Delete">
                                <i class="fa fa-trash"></i> <span class="sr-only">Delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block side %}
    {{ block.super }}
    <div class="list-group mt-3">
        <a href="{% url 'offer:list_administration' auction.user.slug auction.slug %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">All <span class="badge badge-dark badge-pill">{{ auction.count_offers }}</span></a>
        {% for category in auction.categories.all %}
            <a href="{% url 'offer:list_administration_category' auction.user.slug auction.slug category.slug %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{ category }} <span class="badge badge-dark badge-pill">{{ category.count_offers }}</span></a>
        {% endfor %}
    </div>
{% endblock %}