<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Provider</th>
            <th>Purpose</th>
            <th>Expiry</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>collect</td>
            <td>google-analytics.com</td>
            <td>Used to send data to Google Analytics</td>
            <td>Session</td>
            <td>Pixel</td>
        </tr>
    </tbody>
</table>