<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Provider</th>
            <th>Purpose</th>
            <th>Expiry</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>sessionid</td>
            <td>.fantics.me</td>
            <td>Identifies you on the site when you log in</td>
            <td>1 year</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>csrftoken</td>
            <td>.fantics.me</td>
            <td>Makes sure you're not hijacking the site. You're not hijacking the site, right?</td>
            <td>Session</td>
            <td>HTTP</td>
        </tr>
        <tr>
            <td>cookie_consent</td>
            <td>.fantics.me</td>
            <td>Stores your cookie consent choices, which is ironic</td>
            <td>1 year</td>
            <td>HTTP</td>
        </tr>
    </tbody>
</table>