<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Provider</th>
            <th>Purpose</th>
            <th>Expiry</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>