{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1>Cookies</h1>
    <p>This website uses cookies to personalise content and analyse traffic, and that's the lot - nothing is shared
        with or sold to anyone for marketing purposes (or anything else.) You can click options below to customise which
        non-necessary cookies you're cool with.</p>

    <p>Cookies are small bits of data stored in your browser by a website, usually so it can identify you if you're
        logged in, or to remember preferences. And, sometimes, so it can track your every move. This is not that kind
        of website - honestly I don't care that much about your browsing habits, I just want you to be able to log in
        and have a few preferences, and maybe get an idea of general traffic. The first is a necessary cookie, you need
        to have it to use to the site, the others you can turn off below.</p>

    <p>If you'd like to know more about how your personal data is stored (or not) on here in general, head over to the
        <a href="{% url 'main:privacy_policy' %}">Privacy Policy</a>.</p>

    <hr>

    <form method="post" action="{% url 'account:cookies' %}" class="pl-3 pt-3 pr-3 bg-light rounded">
        <div class="form-group">
            <div class="form-check form-check-inline">
              {% bootstrap_field form.necessary %}
            </div>
            <div class="form-check form-check-inline">
              {% bootstrap_field form.preferences %}
            </div>
            <div class="form-check form-check-inline">
              {% bootstrap_field form.analytics %}
            </div>
            <button type="submit" class="btn btn-primary btn-sm float-right">Update</button>
            {% csrf_token %}
        </div>
    </form>

    <hr>

    <h5>Necessary cookies</h5>
    {% include 'account/cookies/_necessary.html' %}

    <h5>Preference cookies</h5>
    {% include 'account/cookies/_preferences.html' %}

    <h5>Analytics cookies</h5>
    {% include 'account/cookies/_analytics.html' %}

{% endblock %}