@charset "UTF-8";

/* cookie banner */

    #compliance-banner {
        background: #fff; padding-top: 15px;
        -webkit-box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.25);
        -moz-box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.25);
        box-shadow: 0 -4px 3px rgba(50, 50, 50, 0.25);
    }

    #compliance-banner, #compliance-banner table {
        font-size: 12px
    }

    #compliance-banner #v-pills-tabContent {
        height: 120px;
        overflow: auto;
        margin-bottom: 15px
    }


/* layout */

    html {
      position: relative;
      min-height: 100%;
    }

    body {
      margin-bottom: 80px;

    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    .footer a {
        line-height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        color: rgba(255,255,255,.5)
    }

    .footer a:hover, .footer a.active {
        color: #fff
    }

    [aria-expanded="false"] > .expanded,
    [aria-expanded="true"] > .collapsed {
      display: none;
    }

    .grecaptcha-badge {
        z-index: 3
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .col-xs-5ths,
    .col-sm-5ths,
    .col-md-5ths,
    .col-lg-5ths {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-xs-5ths {
        width: 20%;
        float: left;
    }

    @media (min-width: 768px) {
        .col-sm-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 992px) {
        .col-md-5ths {
            width: 20%;
            float: left;
        }
    }

    @media (min-width: 1200px) {
        .col-lg-5ths {
            width: 20%;
            float: left;
        }
    }


/* forms */

    .navbar form {
        width: 300px
    }

    fieldset {
        margin-bottom: 30px;
    }

    fieldset > legend {
        color: #138496;
        border-bottom: 1px solid #ccc;
    }

    .required > label:after {
        content: " required";
        color: #c00000;
        float: right;
        font-size: 10px
    }


/* navigation */

    .navbar-brand img {
        height: 38px
    }


/* tags */

    .tagsinput-bin {
        padding: 5px 0;
        position: relative
    }

    .tagsinput-bin .tag {
        margin: 4px;
        padding: 5px;
    }

    .ui-state-highlight {height: 20px}

