{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block title %}Account | {{ block.super }}{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data" action="{% url 'account:update' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <fieldset>
                <legend>Log in</legend>
                {% bootstrap_field form.username layout="inline" %}
                <p class="text-right"><a href="{% url 'account:password' %}">Change password</a></p>
            </fieldset>
            <fieldset>
                <legend>Account</legend>
                {% bootstrap_field form.display_name layout="inline" %}
                {% bootstrap_field form.email layout="inline" %}
                <small class="form-text text-muted">Your e-mail not be displayed publically on site, however it
                will be shared with any winners of offers you make, and with the owner of any auctions you take part in.</small>
            </fieldset>
            <fieldset>
                {% if user.icon %}<img src="/media/{{ user.icon }}" class="img-fluid float-right">{% endif %}
                <legend>Icon</legend>

                {% bootstrap_field form.icon layout="inline" %}
            </fieldset>
        </div>
        <div class="col">
            <fieldset>
                <legend>Social network</legend>
                {% bootstrap_field form.website layout="inline" %}
                {% bootstrap_field form.twitter layout="inline" %}
                {% bootstrap_field form.tumblr layout="inline" %}
                {% bootstrap_field form.pillowfort layout="inline" %}
                {% bootstrap_field form.ao3 layout="inline" %}
                {% bootstrap_field form.livejournal layout="inline" %}
                {% bootstrap_field form.dreamwidth layout="inline" %}
            </fieldset>
        </div>
    </div>
    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Save</button>
    <a href="{% url 'account:delete' %}" class="btn btn-warning float-right"><i class="fa fa-trash"></i> Delete</a>
</form>
{% endblock %}