{% extends 'main/base.html' %}

{% block main %}
    <form method="post" action="{% url 'account:delete' %}">
        {% csrf_token %}
        <p>There's no cool-off period; there's no restore. If you hit delete, this account and everything associated with it (except comments and ratings and whatnot) is gone poof.</p>
        <p>Cool?</p>
        {{ form }}
        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Cool, I am really super sure I want this gone!</button>
    </form>
{% endblock %}
