{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block javascript_body %}
    {{ block.super }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("loginForm").submit();
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Log in</h1>
    <form method="post" action="{% url 'account:login' %}" id="loginForm">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}
        <button class="btn btn-primary g-recaptcha" data-sitekey="6LeKCGkUAAAAALNco4zFSlPNf5lIVPcaKhEFq5Xq" data-callback='onSubmit' type="submit"><i class="fa fa-power-off"></i> Log In</button>
        <a href="{% url 'account:password_reset' %}" class="float-right">...pass ...word?</a>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
    </form>
{% endblock %}