{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block title %}Change password | {{ block.super }}{% endblock %}

{% block content %}
<form method="post" action="{% url 'account:password' %}">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Change</button>
</form>
{% endblock %}