{% extends 'main/base.html' %}
{% load bootstrap4 core_tags static_version %}

{% block content %}
    <h1>
        {% if user.icon %}<img src="/media/{{ user.icon }}" alt="">{% endif %}
        <a class="float-right" href="{% url 'message:create' %}?to={{ user }}" title="Send message"><i class="fa fa-envelope-o"></i> <span class="sr-only">Send message</span></a>
        {{ user }}
    </h1>
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="list-group list-group-flush">
                        {% if user.pillowfort %}
                            <a class="list-group-item" href="https://www.pillowfort.io/{{ user.pillowfort }}" target="_blank"><img src="{% static_version "account/img/pillowfort.png" %}" class="fa fa-fw"> {{ user.pillowfort }}</a>
                        {% endif %}
                        {% if user.dreamwidth %}
                            <a class="list-group-item" href="https://{{ user.dreamwidth }}.dreamwidth.org" target="_blank"><img src="{% static_version "account/img/dreamwidth.png" %}" class="fa fa-fw"> {{ user.dreamwidth }}</a>
                        {% endif %}
                        {% if user.livejournal %}
                            <a class="list-group-item" href="https://{{ user.livejournal }}.livejournal.org" target="_blank"><img src="{% static_version "account/img/livejournal.png" %}" class="fa fa-fw"> {{ user.livejournal }}</a>
                        {% endif %}
                        {% if user.ao3 %}
                            <a class="list-group-item" href="https://archiveofourown.org/users/{{ user.ao3 }}" target="_blank"><img src="{% static_version "account/img/ao3.png" %}" class="fa fa-fw"> {{ user.ao3 }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-group list-group-flush">
                        {% if user.website %}
                            <a class="list-group-item" href="{{ user.website }}" target="_blank"><i class="fa fa-fw fa-home"></i> {{ user.website|pretty_url }}</a>
                        {% endif %}
                        {% if user.twitter %}
                            <a class="list-group-item" href="http://twitter.com/{{ user.twitter }}" target="_blank"><i class="fa fa-fw fa-twitter"></i> {{ user.twitter }}</a>
                        {% endif %}
                        {% if user.tumblr %}
                            <a class="list-group-item" href="http://{{ user.tumblr }}.tumblr.com" target="_blank"><i class="fa fa-fw fa-tumblr"></i> {{ user.tumblr }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            {% if auction_active or auction_archived %}
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="AuctionNav" role="tablist">
                        {% if auction_active %}
                        <li class="nav-item mr-auto">
                            <a class="nav-link active" id="auction-active-tab" href="#auction_active" data-toggle="tab" role="tab" aria-controls="auction_active" aria-selected="true">Active auctions <span class="badge badge-dark badge-pill">{{ auction_active|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if auction_archived %}
                        <li class="nav-item mr-auto">
                            <a class="nav-link" id="auction-archive-tab" href="#auction_archive" data-toggle="tab" role="tab" aria-controls="auction_archive">Archive <span class="badge badge-dark badge-pill">{{ auction_archived|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if user.id == request.user.id %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'auction:create' request.user.slug %}" title="Create auction"><i class="fa fa-plus-square"></i> <span class="sr-only">Create auction</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="AuctionContent">
                        {% if auction_active %}
                        <div class="tab-pane fade show active" id="auction_active" role="tabpanel" aria-labelledby="auction-active-tab">
                            {% if auction_active %}
                            <ul class="list-group">
                                {% for auction in auction_active %}
                                    {% include 'account/includes/_auction_list_group_item.html' %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if auction_archived %}
                        <div class="tab-pane fade" id="auction_archive" role="tabpanel" aria-labelledby="auction-archive-tab">
                            {% if auction_archived %}
                            <ul class="list-group">
                                {% for auction in auction_archived %}
                                    {% include 'account/includes/_auction_list_group_item.html' %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}