<footer class="footer bg-dark">
    <div class="container">
        {% with request.resolver_match.namespace as namespace %}
        {% with request.resolver_match.url_name as name %}
        <nav class="nav">
            <a class="nav-link{% if namespace == "main" and name == "home" %} active{% endif %}" href="{% url 'main:home' %}"><i class="fa fa-home"></i> Home{% if namespace == "main" and name == "home" %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-link{% if namespace == "main" and name == "about" %} active{% endif %}" href="{% url 'main:about' %}"><i class="fa fa-info-circle"></i> About{% if namespace == "main" and name == "about" %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-link{% if namespace == "main" and name == "support" %} active{% endif %}" href="{% url 'main:support' %}"><i class="fa fa-question-circle"></i> Support{% if namespace == "main" and name == "support" %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-link{% if namespace == "main" and name == "privacy_policy" %} active{% endif %}" href="{% url 'main:privacy_policy' %}"><i class="fa fa-lock"></i> Privacy policy{% if namespace == "main" and name == "privacy_policy" %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-link{% if namespace == "main" and name == "terms_of_use" %} active{% endif %}" href="{% url 'main:terms_of_use' %}"><i class="fa fa-file-text-o"></i> Terms of use{% if namespace == "main" and name == "terms_of_use" %}<span class="sr-only">(current)</span>{% endif %}</a>
            <a class="nav-link{% if namespace == "account" and name == "cookies" %} active{% endif %}" href="{% url 'account:cookies' %}"><i class="fa fa-user-circle-o"></i> Cookies{% if namespace == "account" and name == "cookies" %}<span class="sr-only">(current)</span>{% endif %}</a>
        </nav>
        {% endwith %}
        {% endwith %}
    </div>
</footer>