{% with request.resolver_match.namespace as namespace %}
{% with request.resolver_match.url_name as name %}
<ul class="navbar-nav mr-2">
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <div class="btn-group my-1">
                <a href="{% url 'account:profile' request.user.slug %}" class="btn btn-secondary">
                    <span class="d-block d-sm-none"><i class="fa fa-user"></i></span>
                    <span class="d-none d-xs-block d-sm-block">{{ request.user }}</span>
                </a>
                <a href="{% url 'message:list' %}" class="btn btn-{% if request.user.count_unread_messages %}warning{% else %}info{% endif %} d-flex align-items-center">
                    <i class="fa fa-envelope-o"></i> {% if request.user.count_unread_messages %}<span class="ml-2">({{ request.user.count_unread_messages }})</span>{% endif %}
                </a>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    {% for auction in request.user.auctions.all %}
                        <div class="dropdown-item d-flex align-items-center">
                            <a href="{% url 'auction:auction' auction.user.slug auction.slug %}" class="flex-grow-1 w-100 mr-5">{{ auction }}</a>
                            <a href="{% url 'auction:update' auction.user.slug auction.slug %}" class="ml-3 flex-shrink-1 btn btn-secondary" title="Settings"><i class="fa fa-cog"></i></a>
                        </div>
                        {% if forloop.last %}
                        <div class="dropdown-divider"></div>
                        {% endif %}
                    {% endfor %}
                    <a class="dropdown-item" href="{% url 'auction:create' request.user.slug %}"><i class="fa fa-star fa-fw"></i> Create new auction</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account:update' %}"><i class="fa fa-user fa-fw"></i> Account</a>
                    <a class="dropdown-item" href="{% url 'account:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Log out</a>
                </div>
            </div>
        </li>
    {% else %}
        <li class="nav-item dropdown">
            <a class="nav-link" id="dropdownLoginMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" href="{% url 'account:login' %}">Log in</a>
            <form action="{% url 'account:login' %}" method="post" class="dropdown-menu dropdown-menu-right p-4" aria-labelledby="dropdownLoginMenu">
                <div class="form-group">
                    <label for="id_username" class="sr-only">Username</label>
                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="id_password" class="sr-only">Password</label>
                    <input type="password" name="password" class="form-control" id="id_password" placeholder="Password">
                </div>
                <div class="form-check">
                    <input type="checkbox" name="remember" class="form-check-input" id="id_remember">
                    <label class="form-check-label" for="id_remember">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary mt-3"><i class="fa fa-power-off"></i> Log in</button>
                {% csrf_token %}
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account:register' %}">Get started</a>
        </li>
    {% endif %}
</ul>
{% endwith %}
{% endwith %}