{% extends 'base.html' %}
{% load bootstrap4 static_version %}

{% block css %}
    <link rel="stylesheet" href="{% static_version 'main/css/site.css' %}">
{% endblock %}

{% block body %}
    {% block navigation %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'main:home' %}">Fantics</a>
        <span class="mr-auto"></span>
        {% include 'main/_navigation.html' %}
    </nav>
    {% endblock %}
    {% block container %}
    <div class="container my-5" role="main">
        {% if user.is_validating and not messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Validate</h4>
                You shoooould have received one of those "yeah, it's me" e-mails at <strong>{{ request.user.email }}</strong> when you registered - give the link inside it a click and this will disappear.
                If you didn't, <a href="{% url 'account:resend_validate' %}" class="alert-link">click here to send the e-mail</a> again.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        {% endif %}
        {% bootstrap_messages %}
        {% block content %}
        <div class="row">
            <div class="col-md-9">{% block main %}{% endblock %}</div>
            <div class="col-md-3">{% block side %}{% endblock %}</div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    {% include 'main/_footer.html' %}
    {% endblock %}
{% endblock %}