{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
<h1><a href="{% url 'message:list' %}">Inbox</a> : send</h1>
<form method="post" action="{% url 'message:create' %}">
    {% csrf_token %}
    {% bootstrap_field form.to layout="horizontal" %}
    {% bootstrap_field form.subject layout="horizontal" %}
    {% bootstrap_field form.text layout="inline" %}
    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Send</button>
</form>
{% endblock %}