{% extends 'main/base.html' %}

{% block content %}
<h1><a href="{% url 'message:list' %}">Inbox</a> : delete</h1>

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete <strong>{{ recipient.message.subject }}</strong>? Once you hit the button below, it's gone-gone. Like, gone like it never was, <strong>gone</strong>.</p>
    <button type="submit" class="btn btn-danger">Super sure! Delete it!</button>
    <a class="btn btn-primary float-right" href="{% url 'message:view' recipient.id %}">Augh, stop, reverse! Reverse!</a>
</form>
{% endblock %}