{% extends 'main/base.html' %}
{% load humanize core_tags %}

{% block content %}
    <h1>
        <div class="btn-group float-right">
            <a href="{% url 'message:create' %}?replyTo={{ recipient.id }}" class="btn btn-primary" title="Reply"><i class="fa fa-mail-reply"></i> <span class="sr-only">Reply</span></a>
            <a href="{% url 'message:delete' recipient.id %}" class="btn btn-warning" title="Delete"><i class="fa fa-trash"></i> <span class="sr-only">Delete</span></a>
        </div>
        <a href="{% url 'message:list' %}">Inbox</a> : {{ recipient.message.subject }}
    </h1>
    <h5><a href="{% url 'account:profile' recipient.message.user.slug %}">{{ recipient.message.user }}</a> - <span title="{{ recipient.message.created|date:"jS M Y, g:iA" }}" class="date-flip">{{ recipient.message.created|naturaltime }}</span></h5>

    <hr>
    <p>{{ recipient.message.text|linebreaksbr }}</p>
    <hr>
{% endblock %}