{% extends 'base.html' %}
{% load bootstrap4 static_version %}

{% block title %}{{ auction }}{% endblock %}

{% block css %}
    {% if auction.css %}
    <style>{{ auction.css }}</style>
    {% endif %}
{% endblock %}

{% block body %}
    {% block navigation %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'auction:auction' auction.user.slug auction.slug %}">
            {% if auction.logo %}
                <img src="/media/{{ auction.logo }}" alt="{{ auction }}">
            {% elif auction.icon %}
                <img src="/media/{{ auction.icon }}" alt="{{ auction }}">
            {% else %}
                {{ auction }}
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSiteContent" aria-controls="navbarSiteContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSiteContent">
            {% with request.resolver_match.namespace as namespace %}
            {% with request.resolver_match.url_name as name %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if namespace == "auction" and name == "about" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'auction:about' auction.user.slug auction.slug %}"><i class="fa fa-info-circle"></i> About{% if namespace == "auction" and name == "about" %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% if request.user.is_authenticated and auction.show_nav_offers %}
                <li class="nav-item{% if namespace == "offer" and name == "list" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'offer:list' auction.user.slug auction.slug request.user.slug %}"><i class="fa fa-gift"></i> Your offers{% if namespace == "offer" and name == "list" %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and auction.show_nav_winners %}
                <li class="nav-item{% if namespace == "offer" and name == "list" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'offer:list' auction.user.slug auction.slug request.user.slug %}"><i class="fa fa-gift"></i> Your winners{% if namespace == "offer" and name == "list" %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and auction.show_nav_bids %}
                <li class="nav-item{% if namespace == "bid" and name == "list" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'bid:list' auction.user.slug auction.slug request.user.slug %}"><i class="fa fa-star-o"></i> Your bids{% if namespace == "bid" and name == "list" %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated and auction.show_nav_wins %}
                <li class="nav-item{% if namespace == "bid" and name == "wins" %} active{% endif %}">
                    <a class="nav-link" href="{% url 'bid:wins' auction.user.slug auction.slug request.user.slug %}"><i class="fa fa-trophy"></i> Your wins{% if namespace == "bid" and name == "wins" %} <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                {% endif %}
            </ul>
            {% endwith %}
            {% endwith %}
        </div>
        {% include 'main/_navigation.html' %}
    </nav>
    {% endblock %}
    {% block container %}
    <div class="container my-5" role="main">
        {% if auction.banner %}
            <img src="/media/{{ auction.banner }}" alt="{{ auction }}" class="img-fluid pb-4">
        {% endif %}
        {% bootstrap_messages %}
        {% block content %}
        <div class="row">
            <div class="col-md-9">{% block main %}{% endblock %}</div>
            <div class="col-md-3">{% block side %}{% endblock %}</div>
        </div>
        {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    {% include 'main/_footer.html' %}
    {% endblock %}
{% endblock %}

