{% extends 'auction/base.html' %}
{% load static_version core_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static_version 'auction/css/administration.css' %}">
{% endblock %}

{% block side %}
    <div class="list-group">
        {% with request.resolver_match.namespace as namespace %}
        {% with request.resolver_match.url_name as name %}
        <a class="list-group-item list-group-item-action{% if namespace == "auction" and name == "update" %} active{% endif %}" href="{% url 'auction:update' auction.user.slug auction.slug %}">
            <i class="fa fa-fw fa-cog"></i> Settings {% if namespace == "auction" and name == "update" %}<span class="sr-only">(current)</span>{% endif %}
        </a>
        <a class="list-group-item list-group-item-action pl-5{% if namespace == "auction" and name == "update_email" %} active{% endif %}" href="{% url 'auction:update_email' auction.user.slug auction.slug %}">
            <i class="fa fa-fw fa-envelope-o"></i> Automated e-mails {% if namespace == "auction" and name == "update_email" %}<span class="sr-only">(current)</span>{% endif %}
        </a>
        <a class="list-group-item list-group-item-action pl-5{% if namespace == "category" %} active{% endif %}" href="{% url 'category:list' auction.user.slug auction.slug %}">
            <i class="fa fa-fw fa-cubes"></i> Categories {% if namespace == "category" %}<span class="sr-only">(current)</span>{% endif %}
        </a>
        <a class="list-group-item list-group-item-action pl-5{% if namespace == "auction" and name == "update_layout" %} active{% endif %}" href="{% url 'auction:update_layout' auction.user.slug auction.slug %}">
            <i class="fa fa-fw fa-paint-brush"></i> Layout {% if namespace == "auction" and name == "update_layout" %}<span class="sr-only">(current)</span>{% endif %}
        </a>
        {% if auction.count_offers %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if namespace == "offer" %} active{% endif %}" href="{% url 'offer:list_administration' auction.user.slug auction.slug %}">
            <span><i class="fa fa-fw fa-gift"></i> Offers {% if namespace == "offer" and name == "list_administration" %}<span class="sr-only">(current)</span>{% endif %}</span> <span class="badge badge-dark badge-pill">{{ auction.count_offers }}</span>
        </a>
        {% endif %}
        {% if auction.show_nav_wins %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center{% if namespace == "auction" and name == "results" %} active{% elif namespace == "bid" and name == "update" %} active{% elif namespace == "bid" and name == "email" %} active{% endif %}" href="{% url 'auction:results' auction.user.slug auction.slug %}">
            <span><i class="fa fa-fw fa-trophy"></i> Winning bids {% if namespace == "auction" and name == "results" %}<span class="sr-only">(current)</span>{% endif %}</span> <span class="badge badge-dark badge-pill">{{ auction.top_bids|length }}</span>
        </a>
        {% endif %}
        {% endwith %}
        {% endwith %}
    </div>
    {% if not auction.donated %}
        <hr>
        <p class="text-center"><a href="{% url 'auction:delete' auction.user.slug auction.slug %}" class="btn btn-warning"><i class="fa fa-trash"></i> Delete</a></p>
    {% endif %}
{% endblock %}