{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <form method="post" action="{% url 'auction:create' request.user.slug %}">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}