{% extends 'auction/administration/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}

{% block main %}
    <h1>Settings</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'auction:update' auction.user.slug auction.slug %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        <fieldset>
            <legend>Auction</legend>
            <p class="alert alert-info"><strong>The timezone and currency of the auction cannot be changed once offers have been added</strong>.</p>
            {% bootstrap_field form.title layout="horizontal" %}
            {% bootstrap_field form.contact_name layout="horizontal" %}
            {% bootstrap_field form.contact_email layout="horizontal" %}
            {% bootstrap_field form.target layout="horizontal" %}
            {% if auction.count_offers %}
                <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_currency">Currency</label><div class="col-md-9 text-info">{{ auction.currency }}</div></div>
                <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_timezone">Timezone</label><div class="col-md-9 text-info">{{ auction.timezone }}</div></div>
            {% endif %}
            {% bootstrap_field form.currency layout="horizontal" %}
            {% bootstrap_field form.timezone layout="horizontal" %}
            {% bootstrap_field form.is_listed layout="horizontal" %}
        </fieldset>

        <fieldset>
            <legend>Dates</legend>
            <div class="form-group row">
                <label class="col-md-3">Signups</label>
                <div class="col-md-9">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-5">{% datetimepicker 'signup_starts' value=auction.signup_starts %}</div>
                        <div class="col-md-2 text-center">to</div>
                        <div class="col-md-5">{% datetimepicker 'signup_ends' value=auction.signup_ends %}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3">Bidding</label>
                <div class="col-md-9">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-5">{% datetimepicker 'bidding_starts' value=auction.bidding_starts %}</div>
                        <div class="col-md-2 text-center">to</div>
                        <div class="col-md-5">{% datetimepicker 'bidding_ends' value=auction.bidding_ends %}</div>
                    </div>
                </div>
            </div>
            {% datetimepicker 'donation_deadline' label="Donation deadline" value=auction.donation_deadline %}
            {% datetimepicker 'offer_deadline' label='Offer deadline' value=auction.offer_deadline mode="date" %}
            {% bootstrap_field form.allow_custom_offer_deadline layout="horizontal" %}
        </fieldset>

        <fieldset>
            <legend>Beneficiary</legend>
            <p class="alert alert-info">At least one (and preferably both) of donation website and donation instructions must be given.
                <strong>The beneficiary name cannot be changed once offers have been added</strong>.</p>
            {% if auction.count_offers %}
                <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_beneficiary_name">Name</label><div class="col-md-9 text-info">{{ auction.beneficiary_name }}</div></div>
            {% endif %}
            {% bootstrap_field form.beneficiary_name layout="horizontal" %}
            {% bootstrap_field form.beneficiary_description layout="horizontal" %}
            {% bootstrap_field form.beneficiary_website layout="horizontal" %}
            {% bootstrap_field form.beneficiary_donation_website layout="horizontal" %}
            {% bootstrap_field form.beneficiary_donation_information layout="horizontal" %}
            {% bootstrap_field form.beneficiary_image layout="horizontal" %}
        </fieldset>

        <fieldset>
            <legend>About</legend>
            {% bootstrap_field form.about layout="inline" %}
        </fieldset>

        <fieldset>
            <legend>Offers</legend>
            {% bootstrap_field form.max_offers_per_user layout="horizontal" %}
            {% bootstrap_field form.max_quantity_per_offer layout="horizontal" %}
        </fieldset>

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
{% endblock %}