{% extends 'auction/administration/base.html' %}
{% load bootstrap4 core_tags %}

{% block main %}
    <h1>Automated e-mails</h1>
    <form method="post" action="{% url 'auction:update_email' auction.user.slug auction.slug %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}

        <p class="alert alert-info">All subjects are automatically prefixed by [{{ auction }}]. They're sent from botling@fantics.me, with {{ auction.contact_email }} in the ReplyTo field.</p>
        <nav>
            <div class="nav nav-tabs" id="emailTab" role="tablist">
                <a class="nav-item nav-link active" id="email-offers-tab" data-toggle="tab" href="#email-offers" role="tab" aria-controls="email-offers" aria-selected="true">Sent to auctionees</a>
                <a class="nav-item nav-link" id="email-bidders-tab" data-toggle="tab" href="#email-bidders" role="tab" aria-controls="email-bidders" aria-selected="false">Sent to bidders</a>
                <a class="nav-item nav-link" id="email-pinch-hitters-tab" data-toggle="tab" href="#email-pinch-hitters" role="tab" aria-controls="email-pinch-hitters" aria-selected="false">Sent to pinch-hitters</a>
            </div>
        </nav>
        <div class="tab-content" id="emailContent">
            <div class="tab-pane fade show active pt-3" id="email-offers" role="tabpanel" aria-labelledby="email-offers-tab">
                <fieldset>
                    <legend>After adding an offer to the auction</legend>
                    {% bootstrap_field form.signup_email_subject layout="inline" %}
                    {% bootstrap_field form.signup_email_body layout="inline" %}
                </fieldset>
                <fieldset>
                    <legend>When offer is bid on</legend>
                    {% bootstrap_field form.bid_email_subject layout="inline" %}
                    {% bootstrap_field form.bid_email_body layout="inline" %}
                </fieldset>
                <fieldset>
                    <legend>After offer has been verified as donated for</legend>
                    {% bootstrap_field form.winner_details_to_auctionee_email_subject layout="inline" %}
                    {% bootstrap_field form.winner_details_to_auctionee_email_body layout="inline" %}
                </fieldset>
            </div>
            <div class="tab-pane fade pt-3" id="email-bidders" role="tabpanel" aria-labelledby="email-bidders-tab">
                <fieldset>
                    <legend>When over-bid</legend>
                    {% bootstrap_field form.overbid_email_subject layout="inline" %}
                    {% bootstrap_field form.overbid_email_body layout="inline" %}
                </fieldset>
                <fieldset>
                    <legend>On win, with donation instructions</legend>
                    {% bootstrap_field form.winner_alert_email_subject layout="inline" %}
                    {% bootstrap_field form.winner_alert_email_body layout="inline" %}
                </fieldset>
                <fieldset>
                    <legend>After donation has been verified</legend>
                    {% bootstrap_field form.auctionee_details_to_winner_email_subject layout="inline" %}
                    {% bootstrap_field form.auctionee_details_to_winner_email_body layout="inline" %}
                </fieldset>
                <fieldset>
                    <legend>After pinch-hitter assigned</legend>
                    {% bootstrap_field form.pinch_hitter_details_to_winner_email_subject layout="inline" %}
                    {% bootstrap_field form.pinch_hitter_details_to_winner_email_body layout="inline" %}
                </fieldset>
            </div>
            <div class="tab-pane fade pt-3" id="email-pinch-hitters" role="tabpanel" aria-labelledby="email-pinch-hitters-tab">
                <fieldset>
                    <legend>After pinch-hitter assigned</legend>
                    {% bootstrap_field form.winner_details_to_pinch_hitter_email_subject layout="inline" %}
                    {% bootstrap_field form.winner_details_to_pinch_hitter_email_body layout="inline" %}
                </fieldset>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
{% endblock %}